    <!-- Start Outter Wrapper -->
    <div class="outter-wrapper">
    
    	<!-- Start Main Navigation -->
    	<div class="header-container wrapper">
    	    <header class="clearfix">
    	    	<a href="/" class="logo"><img src="/img/logo.png" alt="Logo" /></a>
    	        <nav id="nav-wrap">
    	        		<ul class="nav" id="nav">
                    <li><a href="/" class="{% if page.navigation == 'home' %}active{% endif %}">Home</a></li>
                    <li><a href="/advertisers" class="{% if page.navigation == 'advertisers' %}active{% endif %}">Advertisers</a> </li>
                    <li><a href="/partners" class="{% if page.navigation == 'partners' %}active{% endif %}">Partners</a> </li>
                    <li><a href="/faqs" class="{% if page.navigation == 'faqs' %}active{% endif %}">FAQs</a> </li>
                    <li><a href="/blog" class="{% if page.navigation == 'blog' %}active{% endif %}">Blog</a>
                    <li class="last"><a href="/contact" class="{% if page.navigation == 'contact' %}active{% endif %}">Contact</a></li>
    	            </ul>                	
    	        </nav>
    	    </header>
    	</div>
    	<!-- End Main Navigation -->
    </div>
    <!-- End Outter Wrapper -->	
 
