<!-- Start Quote Slider -->
<div class="flexslider-quote">
  <ul class="slides">
    <!-- Start Quote -->
    <li><blockquote>
       Amagi is the new wave in making TV advertising affordable to one and all. We are very happy to tie up with Amagi, and bring on board a whole new set of brands on Zee News and Zee Business.
    </blockquote>
    <cite>- Jitesh Rajdeo, chief sales officer, Zee Media Corp</cite></li>

    <!-- Start Quote -->
    <li><blockquote>
       Future-proofing our channel for multi-platform international distribution has been a key strategic goal for H&amp;C as we expand our presence in new markets. We are confident that we have found in Amagi a partner that will support our development in an extremely flexible and targeted way.
    </blockquote>
    <cite>- H&amp;C TV CEO and chairman Heather Killen</cite></li>

    <!-- Start Quote -->
    <li><blockquote>We want to do TV ads like Google Adwords. A customer should be able to login to a website, select Karnataka as a state, then Bangalore, then a Channel and an ad slot, and finally upload their ad.</blockquote><cite>- Baskar S, Amagi's CEO</cite></li>
  </ul>
</div>

