<!-- Text Seperator -->
<div class="text-seperator">
  <h5>Recent Work</h5>
</div>


<!-- Start Recent Work -->
<div class="clearfix recentwork">
  <!-- Start thumbnail -->
  <div class="mosaic-block fourth fade">
    <a href="img/mock2.jpg" class="mosaic-overlay fancybox" data-fancybox-group="gallery" title="Insert Your Title"></a>
    <div class="mosaic-backdrop"><img src="img/mock.jpg" alt="Mock" /></div>
  </div>

  <!-- Start thumbnail -->		
  <div class="mosaic-block fourth fade">
    <a href="img/mock2.jpg" class="mosaic-overlay fancybox" data-fancybox-group="gallery" title="Insert Your Title"></a>
    <div class="mosaic-backdrop"><img src="img/mock2.jpg" alt="Mock" /></div>
  </div>

  <!-- Start thumbnail -->		
  <div class="mosaic-block fourth fade">
    <a href="img/mock2.jpg" class="mosaic-overlay fancybox" data-fancybox-group="gallery" title="Insert Your Title"></a>
    <div class="mosaic-backdrop"><img src="img/mock5.jpg" alt="Mock" /></div>
  </div>

  <!-- Start thumbnail -->		
  <div class="mosaic-block fourth last fade">
    <a href="img/mock2.jpg" class="mosaic-overlay fancybox" data-fancybox-group="gallery" title="Insert Your Title"></a>
    <div class="mosaic-backdrop"><img src="img/mock3.jpg" alt="Mock" /></div>
  </div>
</div>


