<!-- Start Outter Wrapper -->	
<div class="outter-wrapper feature">
  <div class="fullwidthbanner-container">
    <div class="fullwidthbanner">
      <ul>

        <!-- SLIDE -->
        <li data-transition="fade" data-slotamount="10" data-masterspeed="300" data-thumb="/img/amagi/slides/Slide01.jpg">
        <!-- THE MAIN IMAGE IN THE SLIDE -->
        <img src="/img/amagi/slides/Slide01.jpg" alt="slide" >

        <!-- SLIDE -->
        <li data-transition="papercut" data-slotamount="10" data-masterspeed="300" data-thumb="img/amagi/slides/Slide02.jpg">
        <!-- THE MAIN IMAGE IN THE SLIDE -->
        <img src="img/amagi/slides/Slide02.jpg" alt="slide">


        <!-- SLIDE -->
        <li data-transition="random" data-slotamount="10" data-masterspeed="300" data-thumb="img/amagi/slides/Slide03.jpg">
        <!-- THE MAIN IMAGE IN THE SLIDE -->
        <img src="img/amagi/slides/Slide03.jpg" alt="slide">


        <!-- SLIDE -->
        <li data-transition="random" data-slotamount="10" data-masterspeed="300" data-thumb="img/amagi/slides/Slide04.jpg">
        <!-- THE MAIN IMAGE IN THE SLIDE -->
        <img src="img/amagi/slides/Slide04.jpg" alt="slide">
        </li>

        <!-- SLIDE -->
        <li data-transition="random" data-slotamount="10" data-masterspeed="300" data-thumb="img/amagi/slides/Slide05.jpg">
        <!-- THE MAIN IMAGE IN THE SLIDE -->
        <img src="img/amagi/slides/Slide05.jpg" alt="slide">
        </li>
      </ul>
      <!-- Slide Timmer -->
      <div class="tp-bannertimer tp-bottom"></div>
    </div>
  </div>
</div>	
<!-- End Outter Wrapper -->

