<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
    <head>
        <meta charset="utf-8">
        <!--[if IE]><meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"><![endif]-->
        <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
        <meta content="black" name="apple-mobile-web-app-status-bar-style">
        
        <title>Amagi Media Labs Pvt. Ltd.</title>
        <meta name="description" content="amagi Media are a unique mix of media and technology that merges the latest technology with the traditional broadcast media to create a new TV media adverting platform called Targeted TV ad.">
        <meta name="keyword" content="Media Advertising,Cable TV advertising,TV advertising,Television advertising,Smart TV advertising,Targeted TV advertising,TV ad spots,Regional advertising,Regional promotion,TV advertisements,Aaj Tak ads,Television advertising in India,TV commercial advertising,Maa advertising,National TV advertising,Zoom advertising, UTV advertising,Indian television advertising"/>

         <link rel="stylesheet" type="text/css" href="/css/normalize.min.css">
         <link rel="stylesheet" type="text/css" href="/css/main.css">
         <link rel="stylesheet" type="text/css" href="/css/flexslider.css">
         <link rel="stylesheet" type="text/css" href="/css/font-awesome.css">
         <link rel="stylesheet" type="text/css" href="/js/fancybox/jquery.fancybox.css@v=2.1.4.css" media="screen" />
         <link rel="stylesheet" type="text/css" href="/css/settings.css" media="screen" />
         <script src="/js/vendor/modernizr-2.6.2-respond-1.1.0.min.js"></script>
    </head>
    <body>
    
    <!--[if lt IE 7]>
        <p class="chromeframe">You are using an outdated browser. <a href="http://browsehappy.com/">Upgrade your browser today</a> or <a href="http://www.google.com/chromeframe/?redirect=true">install Google Chrome Frame</a> to better experience this site.</p>
    <![endif]-->
    
    {% include header.html %}	

    {% if page.navigation == 'home' %}
      {% include slideshow.html %}	
    {% endif %}
    	
    <!-- Start Outter Wrapper -->	
    <div class="outter-wrapper">	
      <!-- Start Main Body -->
      <div class="main-container">
        <div class="main wrapper clearfix">
          <!-- Start Main Content -->
          {{ content }}
      </div> <!-- End Main Content -->
    </div>
    <!-- End Main Wrapper -->
    	
    	
    			
    <!-- Start Widget Footer -->
    <div class="widget-footer main clearfix">
      <div class="wrapper clearfix">
    			
        <!-- Start Column -->
        <div class="fourth widget">
          <h4>Overview</h4>
          <p><em>amagi brings to you Smart advertising on TV. With amagi, you can now advertise in a national channel, but in the city/ state of your choice. This geographical positioning on TV ensures maximum eyeballs and minimum spill over.</em></p>
        </div>

        <!-- Start Column -->	
        <div class="fourth widget">
          <h4>Popular Posts</h4>
          <ul>
            <li><a href="index.html#">Stay Classy San Diego</a></li>
            <li><a href="index.html#">I love scotch</a></li>
            <li><a href="index.html#">A channel 4 exclusive</a></li>
            <li><a href="index.html#">Get a grip man</a></li>
          </ul>
        </div>

        <!-- Start Column -->
        <div class="fourth widget">
          <h4>Latest Tweet</h4>
          <p class="tweet">Amagi is to be featured in CNBC TV18's Storyboard show. If you've always wondered how we work seamlessly with... <a href="http://fb.me/11maxsLCf">http://fb.me/11maxsLCf</a>.</p>
        </div> 

        <!-- Start Column -->
        <div class="fourth widget last">
          <h4>Recent Pics</h4>
          <div class="clearfix">
            <!-- Start thumbnail -->
            <div class="mosaic-block half fade">
              <a href="/img/mock3.jpg" class="mosaic-overlay fancybox" data-fancybox-group="gallery" title="Insert Your Title"></a>
              <div class="mosaic-backdrop"><img src="/img/small_thumb1.jpg" alt="Mock" /></div>
            </div>

            <!-- Start thumbnail -->	
            <div class="mosaic-block half last fade">
              <a href="/img/mock6.jpg" class="mosaic-overlay fancybox" data-fancybox-group="gallery" title="Insert Your Title"></a>
              <div class="mosaic-backdrop"><img src="/img/small_thumb2.jpg" alt="Mock" /></div>
    					</div>
    					
    					<!-- Start thumbnail -->
    					<div class="mosaic-block half fade">
    						<a href="/img/mock5.jpg" class="mosaic-overlay fancybox" data-fancybox-group="gallery" title="Insert Your Title"></a>
    						<div class="mosaic-backdrop"><img src="/img/small_thumb3.jpg" alt="Mock" /></div>
    					</div>
    					
    					<!-- Start thumbnail -->
    					<div class="mosaic-block half last fade">
    						<a href="/img/mock4.jpg" class="mosaic-overlay fancybox" data-fancybox-group="gallery" title="Insert Your Title"></a>
    						<div class="mosaic-backdrop"><img src="/img/small_thumb4.jpg" alt="Mock" /></div>
    					</div>
    						
    				</div>
    			</div>
    		</div>
    	</div>
    	<!-- End Widget Footer -->			
    				
    	
    	
    	<!-- Start Footer -->
    	<footer>
    		<div class="clearfix">
    			<div class="foot right">
    				<!-- Social Media icons -->
    				<ul class="social-link">
    					<li><a href="http://www.youtube.com/user/Amagimedia"><em class="icon-youtube"></em></a></li>
    					<li><a href="https://www.facebook.com/amagimedia"><em class="icon-facebook"></em></a></li>
    					<li><a href="https://twitter.com/amagimedia"><em class="icon-twitter"></em></a></li>
    					<li><a href="http://www.linkedin.com/company/1125387"><em class="icon-linkedin"></em></a></li>
    				</ul>
    			</div>	
    			<!-- Copyright Info -->				
    			<div class="foot left">&copy; Copyright Amagi Media Labs Pvt. Ltd. 2013</div>	
    		</div>
    	</footer>
    	
		<!-- Finish Outer Wrapper -->	
		</div>
    
    
		
		
		<!-- Start Scripts -->
		<script type="text/javascript" src="/js/vendor/jquery-1.8.3.min.js"></script>
		        				
		<script type="text/javascript" src="/js/fitvids.min.js"></script>
		<script type="text/javascript" src="/js/fancybox/jquery.fancybox.js@v=2.1.4"></script>
		<script type="text/javascript" src="/js/placeholder.js"></script>
		<script type="text/javascript" src="/js/jquery.flexslider-min.js"></script>
		<script type="text/javascript" src="/js/mosaic.1.0.1.min.js"></script>
		<script type="text/javascript" src="/js/cleantabs.jquery.js"></script>
		<script type="text/javascript" src="/js/jquery.themepunch.plugins.min.js"></script>
		<script type="text/javascript" src="/js/jquery.themepunch.revolution.min.js"></script>
		<script type="text/javascript" src="/js/rs-slider.js"></script>	
		<script type="text/javascript" src="/js/main.js"></script>	
				
	</body>
</html>
		
